{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Czechitas</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>

    div,h1,h2,h3,p {
        text-align: center;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
    }
    .prihlaska{
        padding: 0 10%;
    }
</style>
</head>
<body>
    <!-- Menu -->
    {% url 'index' as home %}
    <p>
        <a href="{{ home }}">Home</a>
    </p>
    <p>
        <a href="https://www.czechitas.cz/">
            <img src="https://cdn.myshoptet.com/usr/www.shop-czechitas.cz/user/logos/logo.png" alt="Czechitas logo"
                width="180" />
        </a>
    </p>

    {% block content %}
    {% endblock %}
</body>
</html>